* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", "Poppins";
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 3.5rem 8rem;
  background-image: url(images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-size: contain;
  background-position: top left;
}

.hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 8rem;
  height: 100%;
}

.img-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 8rem;
}

.comp-logo {
  height: 5rem;
  align-self: flex-start;
}

.illus-img {
  /* height: 70%;
  width: 70%; */
}

.info-section {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  align-items: center;
  padding: 0 6rem;
}

.text-section {
  color: #fff;
}

.header {
  font-size: 4rem;
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.btn,
.btn:link,
.btn:visited {
  padding: 1.5rem;
  width: 20rem;
  border-radius: 50rem;
  font-size: 1.8rem;
  border: none;
  color: hsl(257, 40%, 49%);
  font-family: inherit;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

.logos-section {
  align-self: flex-end;
  justify-self: end;
  display: flex;
  gap: 2rem;
  background-color: hsl(257, 40%, 49%);
}

.facebook-logo,
.twitter-logo,
.instagram-logo {
  width: 2rem;
  height: 2rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 500px;
  padding: 1rem;
  background-color: hsl(257, 40%, 49%);
  cursor: pointer;
  transition: all 0.5s;
}
/* .facebook-logo {
  width: 2rem;
  height: 2rem;
  color: hsl(257, 40%, 49%);
  border: 1px solid #fff;
  border-radius: 500px;
  padding: 1rem;
  background-color: #fff;
} */

.facebook-logo:hover,
.twitter-logo:hover,
.instagram-logo:hover {
  color: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
}

@media (max-width: 24em) {
  html {
    font-size: 45%;
  }
  .main {
    width: 100vw;
    height: 100vh;
    padding: 3rem 6rem;
    background-image: url(images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    /* overflow: hidden; */
  }

  .hero {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    gap: 3rem;
    height: 100%;
    width: 100%;
  }

  .img-section {
    width: 41%;
    gap: 3rem;
  }
  .info-section {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    align-items: center;
    padding: 0 0;
    width: 41%;
    justify-content: center;
    text-align: center;
  }
  .logos-section {
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 2rem;
    background-color: hsl(257, 40%, 49%);
  }
  .text-section {
    color: #fff;

    text-align: center;
  }
  .header {
    font-size: 3rem;
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .text {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .logos-section {
    margin-top: 2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1rem;
    width: 26rem;
    border-radius: 50rem;
    font-size: 1.8rem;
    border: none;
    color: hsl(257, 40%, 49%);
    font-family: inherit;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.5s;
  }
}
